doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    meta(name="description", content=description)
    meta(name="keywords", content="ストリートビュー, 新規タブ, Chrome 拡張, 知見山")
    meta(property="og:title" content=title)
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)
    meta(property="og:image" content="#{url}img/ogp.jpg?#{Date.now()}")
    meta(property="og:site_name" content=title)
    meta(property="og:description" content=description)
    meta(property="fb:app_id" content=202646496736073)
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image:src" content="#{url}img/ogp.jpg?#{Date.now()}")
    link(href="css/style.css" rel="stylesheet")
  body
    main.contents
      h1.ttl 万里眼
      p.loading
      div#sv
      div#map
    div.social
      input.social_txt(type="text" readonly)
      div.social_btns
        p.social_btns_inner.tweet
        p.social_btns_inner.facebook
        p.social_btns_inner.hatena
        p.social_btns_inner.gplus
        p.social_btns_inner.link
      p.link_balloon link has been copied
    p.social_btn
    div.toStore
      p.toStore_badge
        a(href="https://chrome.google.com/webstore/detail/%E4%B8%87%E9%87%8C%E7%9C%BC/hdjhkecjhgpcpfenijmllbegemkiffnc/" target="_blank")

    .message
      p.message__title 万里眼をお使いの皆様へお知らせ
      p.message__description.
        平素よりChrome拡張「万里眼」をお使いいただきありがとうございます。<br>
        ４年ほど続いてきた本サービスではありますが、先日のGoogle StreetView料金体系改定の影響により、サービスの運営存続が難しくなりました。つきましては、2019年9月30日をもって本サービスを終了させていただく予定です。<br>
        これまでご愛顧いただき、誠にありがとうございました。なお、兄弟サービスである「<a href="https://chrome.google.com/webstore/detail/知見山/fdlbafdejiilobaeikbjcgagamahkekf?hl=ja" target="_blank">知見山</a>」の方は引き続きご利用いただけますので、よろしければチェックしてみてくださいませ。
      p.message__author 作者: <a href="https://twitter.com/gonshi_com" target="_blank">@gonshi_com</a>

    script(src="js/script.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2491bt5fkzToUZzMEHKIY6qUvNO4kuco&callback=initMap")
    script
      include ga.js
